@page "/dashboard/doctor"
@using PatientAnalytics.Services
@using PatientAnalytics.Models
@using System.Security.Claims
@inject PatientAnalyticsAuthStateProvider PatientAnalyticsAuthStateProvider
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@rendermode InteractiveServer

<PageTitle>Doctor Dashboard</PageTitle>

<AuthorizeView Roles="Doctor">
    <Authorized>
        <section class="box is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="container">
                <h1 class="title">Doctor Dashboard</h1>
                <p class="subtitle">@_authMessage</p>
            </div>
            
            <button class="button" onclick="@OnLogout">Logout</button>
        </section>
        <section class="box">
            <div class="container">
                <h2 class="title is-4">Patients</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th><abbr title="Date of Birth">DoB</abbr></th>
                            <th>Email</th>
                            <th>View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var patient in _patients)
                    {
                        <tr>
                            <td>@patient.Id</td>
                            <td>@patient.Email</td>
                            <td>@patient.FirstName @patient.LastName</td>
                            <td>@patient.Gender</td>
                            <td>@patient.DateOfBirth</td>
                            <td>@patient.Email</td>
                            <td><button class="button" onclick="@(()=>ViewPatient(patient.Id))">View</button></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </section>
    </Authorized>
    <NotAuthorized>
        <h5>You are not authorized! Redirecting...</h5>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string _authMessage = "The user is NOT authenticated.";
    private List<Patient> _patients = new();
    
    protected override async Task OnInitializedAsync()
    {
        if (PatientAnalyticsAuthStateProvider.IsDoctor())
        {
            _authMessage = "Welcome back, " + PatientAnalyticsAuthStateProvider.FetchCurrentUser().UserPrincipal?.FindFirst(ClaimTypes.Email)?.Value;
            _patients = PatientService.GetPatients(PatientAnalyticsAuthStateProvider.FetchCurrentUser().Token, null, null, null);
        }
        else
        {
            await OnLogout();
        }
    }

    private void ViewPatient(int id) => NavigationManager.NavigateTo($"/dashboard/doctor/patients/{id}");

    private async Task OnLogout()
    {
        await PatientAnalyticsAuthStateProvider.Logout();
        NavigationManager.NavigateTo("/");
    }
}