@page "/dashboard/doctor/patients/{id:int}"
@inject IStringLocalizer<Localized> Localized
@inject PatientAnalyticsAuthStateProvider PatientAnalyticsAuthStateProvider
@inject NavigationManager NavigationManager
@inject PatientService PatientService

<PageTitle>@_pageTitle</PageTitle>

<AuthorizeView Roles="Doctor">
    <Authorized>
        @if (_patient is not null)
        {
            <section class="box">
                <div class="container">
                    <h1 class="title">@Localized["Title_PatientDashboard"]</h1>
                    <p class="subtitle">@_authMessage</p>
                </div>
            </section>
            <section class="box">
                <div class="container">
                    <h2 class="title is-4">
                        @string.Format(Localized["Format_FullName"], _patient.FirstName, _patient.LastName)
                    </h2>
                    <ContentWithLabel Label="@Localized["Label_Email"]">@_patient.Email</ContentWithLabel>
                    <ContentWithLabel Label="@Localized["Label_Gender"]">@_patient.Gender</ContentWithLabel>
                    <ContentWithLabel Label="@Localized["Label_DateOfBirth"]">
                        @_patient.DateOfBirth.ToString(Localized["DateFormatting_Date"])
                    </ContentWithLabel>
                    <ContentWithLabel Label="@Localized["Label_Address"]">@_patient.Address</ContentWithLabel>
                   
                    <div class="divider" />
                    
                    <ContentWithLabel Label="@Localized["Label_DateCreated"]">
                        @_patient.DateCreated.ToString(Localized["DateFormatting_DateTime"])
                    </ContentWithLabel>
                    <ContentWithLabel Label="@Localized["Label_DateEdited"]">
                        @_patient.DateEdited?.ToString(Localized["DateFormatting_DateTime"])
                    </ContentWithLabel>
                </div>
            </section>
        }
        
        <HttpStatusExceptionIndicator Exception="@_exception" />
    </Authorized>
    <NotAuthorized>
        <h5>@Localized["Message_UnauthorizedRedirect"]</h5>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter] public int Id { get; set; }
    private string _pageTitle = "";
    private string _authMessage = "";
    
    private Patient? _patient;
    private HttpStatusCodeException? _exception;
    
    protected override async Task OnInitializedAsync()
    {
        _pageTitle = Localized["Patienten-Dashboard"];
        
        if (PatientAnalyticsAuthStateProvider.IsDoctor())
        {
            _authMessage = string.Format(Localized["Message_DashboardWelcome"], PatientAnalyticsAuthStateProvider.FetchCurrentUser().UserPrincipal?.FindFirst(ClaimTypes.Email)?.Value);
            var token = PatientAnalyticsAuthStateProvider.FetchCurrentUser().Token;

            try
            {
                _patient = PatientService.GetPatientById(token, Id);
                if (_patient is not null) _pageTitle = string.Format(Localized["Title_PatientDashboard_WithPatientName"], _patient.FirstName, _patient.LastName);
            }
            catch (HttpStatusCodeException exception)
            {
                _exception = exception;
            }
        }
        else
        {
            await PatientAnalyticsAuthStateProvider.Logout();
            NavigationManager.NavigateTo("/");
        }
    }
}
