@page "/dashboard/doctor/patients/{id:int}"
@inject IStringLocalizer<Localized> Localized
@inject PatientAnalyticsAuthStateProvider PatientAnalyticsAuthStateProvider
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject ReportService ReportService
@inject IJSRuntime JS       

<PageTitle>@_pageTitle</PageTitle>

<DoctorDashboardWrapper>
    @if (_patient is not null)
    {
        <section class="box is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="is-flex">
                <button class="button" @onclick="GoBack">@Localized["Button_Back"]</button>
            </div>
            <div class ="is-flex is-gap-3">
                <button class="button is-success" @onclick="ToggleUpdateDetails">@(_updateDetails ? Localized["Button_Cancel"] : Localized["Button_Edit"])</button>
                <button class="button is-danger is-outlined" @onclick="ShowDeleteConfirmation">@Localized["Button_Delete"]</button>
            </div>
            <div>
                <button disabled="@_isDownloadReportDisabled" class="button" @onclick="GetReport">@Localized["Button_Download_Report"]</button>
            </div>
        </section>
        
        <section class="box">
            <div class="container">
                <h1 class="title">@Localized["Title_PatientDashboard"]</h1>
                <h2 class="title is-4">
                    @string.Format(Localized["Format_FullName"], _patient.FirstName, _patient.LastName)
                </h2>
                <ContentWithLabel Label="@Localized["Label_Email"]">@_patient.Email</ContentWithLabel>
                <ContentWithLabel Label="@Localized["Label_Gender"]">@_patient.Gender</ContentWithLabel>
                <ContentWithLabel Label="@Localized["Label_DateOfBirth"]">
                    @_patient.DateOfBirth.ToString(Localized["DateFormatting_Date"])
                </ContentWithLabel>
                <ContentWithLabel Label="@Localized["Label_Address"]">@_patient.Address</ContentWithLabel>

                <div class="divider"/>

                <ContentWithLabel Label="@Localized["Label_DateCreated"]">
                    @_patient.DateCreated.ToString(Localized["DateFormatting_DateTime"])
                </ContentWithLabel>
                <ContentWithLabel Label="@Localized["Label_DateEdited"]">
                    @_patient.DateEdited?.ToString(Localized["DateFormatting_DateTime"])
                </ContentWithLabel>
            </div>
        </section>

        <section class="box is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="buttons">
                <button class="button is-info" @onclick="ShowBloodPressure">@Localized["Button_BloodPressure"]</button>
                <button class="button is-info" @onclick="ShowHeight">@Localized["Button_Height"]</button>
                <button class="button is-info" @onclick="ShowWeight">@Localized["Button_Weight"]</button>
                <button class="button is-info" @onclick="ShowTemperature">@Localized["Button_Temperature"]</button>
            </div>
        </section>

        <PatientCreateEditModal Patient="_patient" @bind-IsModalOpen="_updateDetails" OnClose="HandleModalClose" />
    }

    <HttpStatusExceptionIndicator Exception="@_exception" />
    
    <ConfirmationModal
        Title="@Localized["Title_Delete_Patient"]"
        ConfirmButtonText="@Localized["Button_Delete"]"
        CancelButtonText="@Localized["Button_Cancel"]"
        IsVisible="@_isDeleteConfirmationVisible"
        OnConfirm="ConfirmDelete"
        OnCancel="HideDeleteConfirmation" />
</DoctorDashboardWrapper>

@code {
    [Parameter] 
    public int Id { get; set; }
    private string _pageTitle = "";
    
    private Patient? _patient;
    private bool _updateDetails = false;
    private bool _isDeleteConfirmationVisible = false;
    private bool _isDownloadReportDisabled = true;

    private HttpStatusCodeException? _exception;
    
    protected override void OnInitialized()
    {
        _pageTitle = Localized["Title_PatientDashboard"];
        
        if (PatientAnalyticsAuthStateProvider.IsDoctor())
        {
            var token = PatientAnalyticsAuthStateProvider.FetchCurrentUser().Token;

            try
            {
                _patient = PatientService.GetPatientById(token, Id);
                if (_patient is not null)
                {
                    _pageTitle = string.Format(Localized["Title_PatientDashboard_WithPatientName"], _patient.FirstName, _patient.LastName);
                    _isDownloadReportDisabled = false;
                }
            }
            catch (HttpStatusCodeException exception)
            {
                _exception = exception;
            }
        }
    }

    private async Task GetReport()
    {
        _isDownloadReportDisabled = true;

        await Task.Delay(300);
        
        try
        {
            if (_patient != null)
            {
                ReportResponse reportResponse = ReportService.GenerateReportForPatient(_patient);
                var reportBytes = reportResponse.fileStream;
                var fileName = reportResponse.fileName;
            
                using var stream = new MemoryStream(reportBytes);
                using var streamRef = new DotNetStreamReference(stream: stream);

                await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
            }
        }
        catch (HttpStatusCodeException exception)
        {
            _exception = exception;
        }
        
        _isDownloadReportDisabled = false;
    }

    private void ToggleUpdateDetails()
    {
        _updateDetails = !_updateDetails;
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/dashboard/doctor");
    }

    private void ShowDeleteConfirmation()
    {
        _isDeleteConfirmationVisible = true;
    }

    private void HideDeleteConfirmation()
    {
        _isDeleteConfirmationVisible = false;
    }

    private async Task ConfirmDelete()
    {
        var token = PatientAnalyticsAuthStateProvider.FetchCurrentUser().Token;
        try
        {
            await PatientService.DeletePatient(token, _patient.Id);

            NavigationManager.NavigateTo("/dashboard/doctor");
        }
        catch (HttpStatusCodeException exception)
        {
            _exception = exception;
        }
        finally
        {
            _isDeleteConfirmationVisible = false;
        }
    }

    private void HandleModalClose()
    {
        _updateDetails = false;
        StateHasChanged();
    }

    private void ShowBloodPressure()
    {
        NavigationManager.NavigateTo($"/patients/{_patient.Id}/bloodpressure");
    }
    private void ShowHeight()
    {
        NavigationManager.NavigateTo($"/patients/{_patient.Id}/height");
    }
    private void ShowWeight()
    {
        NavigationManager.NavigateTo($"/patients/{_patient.Id}/weight");
    }
    private void ShowTemperature()
    {
        NavigationManager.NavigateTo($"/patients/{_patient.Id}/temperature");
    }
}
