@page "/dashboard/admin"
@inject IStringLocalizer<Localized> Localized
@inject NavigationManager NavigationManager

<PageTitle>@Localized["Title_AdminDashboard"]</PageTitle>

<AdminDashboardWrapper>
    <section class="box columns">
        <AuthorizeView Roles="@nameof(Role.SuperAdmin)" Context="innerContext">
            <button class="column" onclick="@(() => NavigationManager.NavigateTo("/user-management/super-admins"))">
                @Localized["Title_UserManagement_SuperAdmins"]
            </button>
        </AuthorizeView>
        <button class="column" onclick="@(() => NavigationManager.NavigateTo("/user-management/admins"))">
            @Localized["Title_UserManagement_Admins"]
        </button>
        <button class="column" onclick="@(() => NavigationManager.NavigateTo("/user-management/doctors"))">
            @Localized["Title_UserManagement_Doctors"]
        </button>
    </section>
</AdminDashboardWrapper>