@page "/patients/{id:int}/weight"
@inject IStringLocalizer<Localized> Localized
@inject PatientAnalyticsAuthStateProvider PatientAnalyticsAuthStateProvider
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject PatientMetricsWeightService PatientMetricsWeightService

<PageTitle>@_pageTitle</PageTitle>

<DoctorDashboardWrapper>
    @if (_patient is not null)
    {
        <PatientDashboardWrapper Patient="@_patient"
                                 MetricTitle=@Localized["Button_Weight"]
                                 Id="@Id">
            <section class="box is-flex is-flex-direction-row">
                <div class="container">
                    <div class="field">
                        <label class="label">@Localized["Label_Selected_Unit"]</label>
                        <div class="control">
                            <label class="radio-button">
                                <input type="radio" 
                                        value="@Localized[$"Unit_Kg"]"
                                        @onchange="UpdateDisplayUnit" 
                                        checked="@IsSelectedUnit(@Localized[$"Unit_Kg"])">
                                <span>@Localized[$"Unit_Kg"]</span>
                            </label>
                            <label class="radio-button">
                                <input type="radio" 
                                        value="@Localized[$"Unit_St"]" 
                                        @onchange="UpdateDisplayUnit" 
                                        checked="@IsSelectedUnit(@Localized[$"Unit_St"])">
                                <span>@Localized[$"Unit_St"]</span>
                            </label>
                            <label class="radio-button">
                                <input type="radio" 
                                        value="@Localized[$"Unit_Lb"]"
                                        @onchange="UpdateDisplayUnit" 
                                        checked="@IsSelectedUnit(@Localized[$"Unit_Lb"])">
                                <span>@Localized[$"Unit_Lb"]</span>
                            </label>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Localized["Label_ID"]</th>
                                <th>@Localized["Button_Weight"]</th>
                                <th>@Localized["Label_Doctor"]</th>
                                <th>@Localized["Label_DateCreated"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var patient in _patientsWeight)
                            {
                                <tr>
                                    <td>@patient.Id</td>
                                    <td>@GetWeightDisplay(patient)</td>
                                    <td>@patient.Doctor?.FirstName @patient.Doctor?.LastName</td>
                                    <td>@patient.DateCreated</td>
                                    <td><button class="button" @onclick="() => ShowDeleteConfirmation(patient.Id)">@Localized["Button_Delete"]</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="container">
                    <EditForm Model="_patientWeightPayload" OnValidSubmit="HandleSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary class="text-danger" />
                        <div class="field">
                            <label class="label">@Localized["Button_Weight"]</label>
                            <InputNumber class="input" placeholder=60 @bind-Value="_weightValue" />
                        </div>
                        <div class="field">
                            <label class="label">@Localized["Label_Unit"]</label>
                            <select class="input" placeholder=cm @bind="_selectedUnit">
                                <option value=@Localized[$"Unit_Kg"]>@Localized[$"Unit_Kg"]</option>
                                <option value=@Localized[$"Unit_St"]>@Localized[$"Unit_St"]</option>
                                <option value=@Localized[$"Unit_Lb"]>@Localized[$"Unit_Lb"]</option>
                            </select>
                        </div>
                        <button type="submit" class="button is-primary">@Localized["Button_Create"]</button>
                        <p class="has-text-danger">@ErrorMessage</p>
                    </EditForm>
                </div>
            </section>
        </PatientDashboardWrapper>
    }

    <HttpStatusExceptionIndicator Exception="@_exception"/>

    <ConfirmationModal Alert="_alertController.Alert" />
</DoctorDashboardWrapper>

@code {
    [Parameter]
    public int Id { get; set; }
    private string _pageTitle = "";
    private Patient? _patient;
    private List<PatientWeight> _patientsWeight = new();
    private PatientWeightPayload _patientWeightPayload = new();
    
    private bool _refreshing;
    private HttpStatusCodeException? _exception;

    private readonly BlazorAlertController _alertController = new();
    private string ErrorMessage { get; set; } = string.Empty;

    private double? _weightValue;
    private string? _selectedUnit;
    private string? _selectedDisplayUnit;
    private int _weightId;

    protected override async Task OnInitializedAsync()
    {
        _selectedUnit = @Localized["Unit_Kg"];
        _selectedDisplayUnit = @Localized["Unit_Kg"];

        if (PatientAnalyticsAuthStateProvider.IsDoctor())
        {
            await PatientAnalyticsAuthStateProvider.ServiceWrapperAsync(
                _refreshing,
                async token =>
                {
                    _patient = await PatientService.GetPatientById(token, Id);
                    
                    if (_patient is not null)
                    {
                        _pageTitle = string.Format(Localized["Title_PatientDashboard_WithPatientName"], _patient.FirstName, _patient.LastName);

                        _patientsWeight = await PatientMetricsWeightService.GetPatientWeights(token, Id);
                    }
                },
                refreshing => _refreshing = refreshing,
                exception => _exception = exception, 
                () => NavigationManager.NavigateTo("/"));
        }
        else
        {
            await PatientAnalyticsAuthStateProvider.LogoutAsync();
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task HandleSubmit()
    {
        ErrorMessage = string.Empty;

        if (!_weightValue.HasValue)
        {
            ErrorMessage = Localized["Error_WeightRequired"];
            return;
        }

        if (string.IsNullOrEmpty(_selectedUnit))
        {
            ErrorMessage = Localized["Error_UnitRequired"];
            return;
        }

        _patientWeightPayload.SetWeight(_weightValue.Value, _selectedUnit);

        await PatientAnalyticsAuthStateProvider.ServiceWrapperAsync(
            _refreshing,
            async token =>
            {
                var newWeightEntry = await PatientMetricsWeightService.CreateEntry(token, Id, _patientWeightPayload);
                _patientsWeight.Insert(0, newWeightEntry);
            },
            refreshing => _refreshing = refreshing,
            exception => ErrorMessage = exception.Message, 
            () => NavigationManager.NavigateTo("/"));
    }

    private void ShowDeleteConfirmation(int id)
    {
        _weightId = id;
        _alertController.OnDisplayAlert(
            Localized,
            "Title_DeleteRecord",
            async () => await ConfirmDelete());
    }

    private async Task ConfirmDelete()
    {
        await PatientAnalyticsAuthStateProvider.ServiceWrapperAsync(
            _refreshing,
            async token =>
            {
                await PatientMetricsWeightService.DeleteEntryById(token, _weightId);
                _patientsWeight.RemoveAll(bp => bp.Id == _weightId);
                
                _alertController.RemovalModal();
            },
            refreshing => _refreshing = refreshing,
            exception => _exception = exception, 
            () => NavigationManager.NavigateTo("/"));
    }

    private string GetWeightDisplay(PatientWeight patientWeight)
    {
        return _selectedDisplayUnit switch
        {
            var unit when unit == $"{Localized["Unit_Kg"]}" => $"{patientWeight.WeightKgFormatted} {Localized["Unit_Kg"]}",
            var unit when unit == $"{Localized["Unit_St"]}" => $"{patientWeight.WeightStFormatted} {Localized["Unit_St"]}",
            var unit when unit == $"{Localized["Unit_Lb"]}" => $"{patientWeight.WeightLbFormatted} {Localized["Unit_Lb"]}",
            _ => $"{patientWeight.WeightKg:F1} {Localized["Unit_Kg"]}"
        };
    }

    private bool IsSelectedUnit(string unit)
    {
        return _selectedDisplayUnit == unit;
    }
    
    private void UpdateDisplayUnit(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            _selectedDisplayUnit = e.Value.ToString();
        }
    }
}