@inject IStringLocalizer<Localized> Localized

<section class="box">
    <div class="container">
        <h1 class="title">@Title</h1>
        <h2 class="title is-4">
            @string.Format(Localized["Format_FullName"], Person.FirstName, Person.LastName)
        </h2>
        <ContentWithLabel Label="@Localized["Label_Email"]">@Person.Email</ContentWithLabel>
        <ContentWithLabel Label="@Localized["Label_Gender"]">@Person.Gender</ContentWithLabel>
        <ContentWithLabel Label="@Localized["Label_DateOfBirth"]">
            @Person.DateOfBirth.ToString(Localized["DateFormatting_Date"])
        </ContentWithLabel>
        <ContentWithLabel Label="@Localized["Label_Address"]">@Person.Address</ContentWithLabel>

        <div class="divider"></div>

        <ContentWithLabel Label="@Localized["Label_DateCreated"]">
            @Person.DateCreated.ToString(Localized["DateFormatting_DateTime"])
        </ContentWithLabel>
        <ContentWithLabel Label="@Localized["Label_DateEdited"]">
            @Person.DateEdited?.ToString(Localized["DateFormatting_DateTime"])
        </ContentWithLabel>
    </div>
</section>

@code {
    [Parameter] public string Title { private get; set; } = null!;
    
    [Parameter] public Person Person { private get; set; } = null!;
}